name: Docker Build and Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Build Docker image
      run: docker build . --file Dockerfile -t nasa-api:latest

    - name: Run Docker Container (Smoke Test)
      env:
        # This pulls the secret you just saved in GitHub Settings
        MY_NASA_KEY: ${{ secrets.YOUR_API_KEY }} 
      run: |
        # We pass the secret into the container as an environment variable
        docker run -d -p 3000:3000 --name test-container -e NASA_API_KEY=$MY_NASA_KEY nasa-api:latest
        sleep 5
        docker ps | grep test-container
